---
slug: module_158/module_iframe/index
response_headers: >
  {
    "X-Frame-Options": null,
	"Content-Security-Policy": "frame-ancestors https://*.siteglide.com"
  }
authorization_policies:
  - modules/siteglide_system/module_is_in_admin
layout: modules/module_158/templates/1
---
{% graphql data = "modules/module_158/properties/get_properties" %}
<h1>All Properties</h1>
<div class="row justify-between">
	<div class="col">
		<a class="btn btn-primary" href="/module_158/module_iframe/add?{% include 'modules/siteglide_system/modules/auth' -%}">Add property</a>
	</div>
	<div class="col text-end">
		<a class="btn btn-primary" href="https://{{context.location.host}}/properties" target="_blank">View on site</a>
	</div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<td>
			</td>
			<td>
				ID:
			</td>
			<td>
				Name:
			</td>
			<td>
				Location:
			</td>
			<td>
				Bedrooms:
			</td>
			<td>
				Bathrooms:
			</td>
			<td>
				Added on:
			</td>
		</tr>
	</thead>
	<tbody>
		{% for item in data.data.results -%}
			<tr>
				<td>
					<img src="{{item.image.versions.thumbnail}}" alt="{{item.properties.name}}" width="100">
				</td>
				<td>
					{{item.id}}
				</td>
				<td>
					{{item.properties.name}}
				</td>
				<td>
					{{item.properties.location}}
				</td>
				<td>
					{{item.properties.bedrooms}}
				</td>
				<td>
					{{item.properties.bathrooms}}
				</td>
				<td>
					{{item.created_at | date: "%e %B %Y"}}
				</td>
				<td>
					<a class="btn btn-primary" href="/module_158/module_iframe/view/{{item.id}}?{% include "modules/siteglide_system/modules/auth" -%}">View</a>
				</td>
			</tr>
		{% endfor -%}
	</tbody>
</table>