---
layout: null
redirect_to: ''
redirect_url: ''
slug: 'properties/:id'
---
{% graphql data = "modules/module_72/properties/get_property", id: context.params.slug2 %}
{% assign data = data.data.results | first -%}
<!DOCTYPE html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	</head>
	<body class="container mt-5">
		<div class="row">
			<div class="col">
				<div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5">
					<div class="my-3 p-3 text-center">
						<h2 class="display-5"><u>{{data.properties.name}}</u></h2>
						<p class="lead">{{data.properties.location}}</p>
					</div>
					<img class="w-50 d-block mx-auto" src="{{data.image.url}}" alt="{{item.properties.name}}">
					<h4>Details:</h4>
					<ul class="py-3">
						<li>Bedrooms: {{data.properties.bedrooms}}</li>
						<li>Bathrooms: {{data.properties.bathrooms}}</li>
					</ul>
				</div>
				<a class="btn btn-primary mb-3" href="/properties">Back to all properties</a>
			</div>
		</div>
	</body>
</html>