---
layout: null
redirect_to: ''
redirect_url: ''
slug: 'properties'
---
<!DOCTYPE html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	</head>
	<body class="container mt-5">
		<h1>All properties</h1>
		<div class="row row-cols-4">
			{% graphql data = "modules/module_72/properties/get_properties" %}
			{% for item in data.data.results -%}
				<div class="col">
					<div class="card">
						<img class="card-img-top" src="{{item.image.versions.thumbnail}}" alt="{{item.properties.name}}">
						<div class="card-body">
							<h5 class="card-title">{{item.properties.name}}</h5>
							<p class="card-text">
								<ul>
									<li>Location: {{item.properties.location}}</li>
									<li>Bedrooms: {{item.properties.bedrooms}}</li>
									<li>Bathrooms: {{item.properties.bathrooms}}</li>
								</ul>
							</p>
							<a href="/properties/{{item.id}}" class="btn btn-primary">View property</a>
						</div>
					</div>
				</div>
			{% endfor -%}
		</div>
	</body>
</html>